<!-- 顶部导航 -->
<div class="topnav " id="jsnavcon">
    <div class="navcon">
        <div class="topnav_left" id="jsnavbtn">
            <img class="navopen" src="../resources/images/nav.png">
            <img class="navclose" src="../resources/images/close2.png">
        </div>
        <div class="topnav_center">
            <img src="../resources/images/logo.png"  />
        </div>
        <div class="topnav_right">
            <img class="sina" src="../resources/images/sina.png" />
            <img class="wechat" src="../resources/images/wechat.png" />
        </div>
    </div>
    <div class="line">
    </div>
    <div class="navbuttons">
        <div class="navbtnin">
            <div class="navbtntop">
                <div class="left">
                    <h1 >
                        <span class="title"><a href="index.html">首页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
                        <span class="arrow"><img src="../resources/images/arrow.png"></span>
                    </h1>
                </div>
                <div class="right">
                    <h1 >
                        <span class="title">见证岚图&nbsp;&nbsp;</span>
                        <span class="arrow"><img src="../resources/images/arrow.png"></span>
                    </h1>
                    <div class="links">
                        <div class="linkitem">岚图发布会</div>
                        <div class="linkitem"><img src="../resources/images/line2.png"></div>
                        <div class="linkitem">岚图故事</div>
                    </div>
                </div>

            </div>
            <div class="navbtnbottom">
                <div class="left">
                    <h1 >
                        <span class="title"><a href="./iland.html">岚图概念车</a></span>
                        <span class="arrow"><img src="../resources/images/arrow.png"></span>
                    </h1>
                    <div class="links">
                        <div class="linkitem">VOYAH i-Land</div>
                        <div class="linkitem"><img src="../resources/images/line2.png"></div>
                        <div class="linkitem">VOYAH Design</div>
                    </div>
                </div>
                <div class="right">
                    <h1 >
                        <span class="title">关于岚图&nbsp;&nbsp;</span>
                        <span class="arrow"><img src="../resources/images/arrow.png"></span>
                    </h1>
                    <div class="links">
                        <div class="linkitem">岚图文化</div>
                        <div class="linkitem"><img src="../resources/images/line2.png"></div>
                        <div class="linkitem">岚图动态</div>
                        <div class="linkitem"><img src="../resources/images/line2.png"></div>
                        <div class="linkitem">媒体中心</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>