.footer {
  background-color: #262c37;
  color: #fff;
  padding: (80em/24) 0 (60em/24);

  .bd {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: flex;

    dl {
      text-align: center;

      dt {
        font-size: (20em/24);
        padding-bottom: (10em/24);
      }

      dd {
        font-size: (16em/24);
        margin: (15em/24) 0;

        a {
          font-size: (16em/24);
          color: #fff;
        }
      }

      & + dl {
        padding-left: (120em/24);
      }
    }
  }

  .info {
    text-align: right;
    font-size: (16em/24);

    .logo {
      display: block;
    }

    .text {
      margin-top: (26em/24);

      p {
        margin: (15em/24) 0;
      }
    }
  }
}

.g-crumbs {
  background-color: #f7f7f7;
  font-size: (16em/24);
  //height: (42em/24);
  padding: 0.5em 0;
  display: flex;

  a {
    font-size: (16em/24);
    color: #3f3e3d;
  }
  .bd {
    align-self: center;
    display: flex;
    justify-content: space-between;

    > div:nth-child(1) {
      a{
        margin-right: 0.5em;

        & + a {
          margin-left: 0.5em;
        }
      }
    }
  }

}

.layout {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and(max-width: 10000px) {
  .layout {
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    .bd {
      width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .g-crumbs {
    .bd {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and(max-width: 1920px) {
  .layout {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
  }
  .footer {
    .bd {
      width: auto;
      margin-left: 60px;
      margin-right: 60px;
    }
  }
}

@media screen and(max-width: 1200px) {
}

@media screen and(max-width: 992px) {

}

@media screen and(max-width: 768px) {
  .footer {
    .nav {
      dl {
        & + dl {
          padding-left: 1em;
        }
      }
    }
  }
}
