.footer {
  background-color: #262c37;
  color: #fff;
  padding: 80px 0 60px;

  .bd {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: flex;

    dl {
      text-align: center;

      dt {
        font-size: 20px;
        padding-bottom: 10px;
      }

      dd {
        font-size: 16px;
        margin: 15px 0;

        a {
          font-size: 16px;
          color: #fff;
        }
      }

      & + dl {
        padding-left: 120px;
      }
    }
  }

  .info {
    text-align: right;
    font-size: 16px;

    .logo {
      display: block;
    }

    .text {
      margin-top: 26px;

      p {
        margin: 15px 0;
      }
    }
  }
}

.g-crumbs {
  background-color: #f7f7f7;
  font-size: 16px;
  height: 42px;
  display: flex;

  a {
    font-size: 16px;
    color: #3f3e3d;
  }
  .bd {
    align-self: center;
    display: flex;
    justify-content: space-between;

    > div:nth-child(1) {
      a{
        margin-right: 8px;

        & + a {
          margin-left: 8px;
        }
      }
    }
  }

}

.layout {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and(max-width: 10000px) {
  .layout {
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    .bd {
      width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .g-crumbs {
    .bd {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and(max-width: 1920px) {
  .layout {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
  }
  .footer {
    .bd {
      width: auto;
      margin-left: 60px;
      margin-right: 60px;
    }
  }
}

@media screen and(max-width: 1200px) {
  .footer {
    .nav {
      dl {
        & + dl {
          padding-left: 60px;
        }
      }
    }
  }
}

@media screen and(max-width: 992px) {
  .footer {
    .nav {
      dl {
        & + dl {
          padding-left: 20px;
        }
      }
    }
  }

}

@media screen and(max-width: 768px) {
  .footer {
    .nav {
      dl {
        & + dl {
          padding-left: 10px;
        }
      }
    }
  }
}
