.footer {
  background-color: #262c37;
  color: #fff;
  padding: 3.33333em 0 2.5em; }
  .footer .bd {
    display: flex;
    justify-content: space-between; }
  .footer .nav {
    display: flex; }
    .footer .nav dl {
      text-align: center; }
      .footer .nav dl dt {
        font-size: 0.83333em;
        padding-bottom: 0.41667em; }
      .footer .nav dl dd {
        font-size: 0.66667em;
        margin: 0.625em 0; }
        .footer .nav dl dd a {
          font-size: 0.66667em;
          color: #fff; }
      .footer .nav dl + dl {
        padding-left: 5em; }
  .footer .info {
    text-align: right;
    font-size: 0.66667em; }
    .footer .info .logo {
      display: block; }
    .footer .info .text {
      margin-top: 1.08333em; }
      .footer .info .text p {
        margin: 0.625em 0; }

.g-crumbs {
  background-color: #f7f7f7;
  font-size: 0.66667em;
  padding: 0.5em 0;
  display: flex; }
  .g-crumbs a {
    font-size: 0.66667em;
    color: #3f3e3d; }
  .g-crumbs .bd {
    align-self: center;
    display: flex;
    justify-content: space-between; }
    .g-crumbs .bd > div:nth-child(1) a {
      margin-right: 0.5em; }
      .g-crumbs .bd > div:nth-child(1) a + a {
        margin-left: 0.5em; }

.layout {
  margin-top: 60px;
  margin-bottom: 60px; }

@media screen and (max-width: 10000px) {
  .layout {
    width: 1800px;
    margin-left: auto;
    margin-right: auto; }
  .footer .bd {
    width: 1440px;
    margin-left: auto;
    margin-right: auto; }
  .g-crumbs .bd {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 1920px) {
  .layout {
    width: auto;
    margin-left: 60px;
    margin-right: 60px; }
  .footer .bd {
    width: auto;
    margin-left: 60px;
    margin-right: 60px; } }

@media screen and (max-width: 768px) {
  .footer .nav dl + dl {
    padding-left: 1em; } }

.about .desc {
  text-align: center; }
  .about .desc p {
    font-size: 0.66667em; }

.about .title {
  text-align: center; }
  .about .title h3 {
    font-weight: 400;
    font-size: 2.5em; }
  .about .title .desc {
    margin-top: 0.83333em; }

.about .btn {
  background: url(../resources/images/about/btn.png) no-repeat 50% 50%;
  background-size: cover;
  width: 6.66667em;
  height: 1.95833em;
  display: inline-block;
  overflow: hidden; }

.about .gallery {
  display: flex;
  justify-content: space-between; }
  .about .gallery .item {
    flex: 1;
    font-size: 1em;
    color: #fff;
    position: relative; }
    .about .gallery .item img {
      width: 100%;
      display: block; }
    .about .gallery .item label {
      position: absolute;
      right: 10%;
      bottom: 3.6%; }
    .about .gallery .item + .item {
      margin-left: 0.83333em; }

.about .gallery2 {
  display: flex; }
  .about .gallery2 .item {
    overflow: hidden; }
    .about .gallery2 .item img {
      width: 100%;
      display: block; }
  .about .gallery2 > .item:nth-child(1) {
    flex: 0 0 66.66667%; }
  .about .gallery2 > .item:nth-child(2) {
    flex: 0 0 33.33333%; }
    .about .gallery2 > .item:nth-child(2) .item {
      height: 50%;
      position: relative; }
      .about .gallery2 > .item:nth-child(2) .item img {
        width: auto;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0; }

.about .gallery3 {
  display: flex;
  flex-wrap: wrap; }
  .about .gallery3 .item img {
    width: 100%;
    display: block; }

.about .gallery4 {
  overflow: hidden; }
  .about .gallery4 .item {
    display: flex;
    justify-content: center; }
    .about .gallery4 .item img {
      width: auto;
      height: 100%;
      display: block; }

.about .m-banner {
  background: url(../resources/images/about/kv.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 100vh;
  position: relative; }
  .about .m-banner .slogan {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .about .m-banner .slogan h3 {
      font-weight: 400;
      font-size: 2.5em; }
    .about .m-banner .slogan .btn {
      margin-top: 1.25em; }

.about .m-factory .gallery2 {
  width: 100%;
  margin-top: 1.25em; }

.about .m-team .gallery {
  margin-top: 1.25em; }

.about .m-team > .desc {
  margin-top: 1.25em; }

.about .m-partner {
  max-width: 1080px;
  margin-top: 4.58333em; }
  .about .m-partner .swiper-container {
    width: 100%;
    height: 100%; }
  .about .m-partner .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center; }
  .about .m-partner .swiper-pagination-bullet {
    border-radius: initial;
    background-color: #d3d3d3;
    width: 5em;
    height: 2px; }
  .about .m-partner .swiper-pagination-bullet-active {
    height: 4px; }
  .about .m-partner .gallery3 {
    margin-top: 3.75em;
    margin-bottom: 3.75em; }

.about .m-address {
  margin-top: 6.66667em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .about .m-address .title, .about .m-address .desc {
    text-align: left; }
  .about .m-address .desc p {
    margin: 0.41667em 0; }
  .about .m-address .address {
    padding-left: 0.83333em;
    display: flex; }
    .about .m-address .address > * {
      align-self: center; }
  .about .m-address .gallery4 {
    max-width: 1010px;
    flex: 1; }

@media screen and (max-width: 10000px) {
  .gallery3 .item {
    flex: 0 0 16.66667%; }
  .m-partner {
    margin-left: auto;
    margin-right: auto; }
  .m-address .address {
    flex: 0 0 550px; } }

@media screen and (max-width: 1920px) {
  .m-address .address {
    flex: 0 0 400px; } }

@media screen and (max-width: 1200px) {
  .m-partner {
    margin-left: 2.5em;
    margin-right: 2.5em; } }

@media screen and (max-width: 992px) {
  .m-address .address {
    flex: 0 0 300px; } }

@media screen and (max-width: 768px) {
  .m-address .address {
    flex: 0 0 200px; } }
