.footer {
  background-color: #262c37;
  color: #fff;
  padding: 80px 0 60px; }
  .footer .bd {
    display: flex;
    justify-content: space-between; }
  .footer .nav {
    display: flex; }
    .footer .nav dl {
      text-align: center; }
      .footer .nav dl dt {
        font-size: 20px;
        padding-bottom: 10px; }
      .footer .nav dl dd {
        font-size: 16px;
        margin: 15px 0; }
        .footer .nav dl dd a {
          font-size: 16px;
          color: #fff; }
      .footer .nav dl + dl {
        padding-left: 120px; }
  .footer .info {
    text-align: right;
    font-size: 16px; }
    .footer .info .logo {
      display: block; }
    .footer .info .text {
      margin-top: 26px; }
      .footer .info .text p {
        margin: 15px 0; }

.g-crumbs {
  background-color: #f7f7f7;
  font-size: 16px;
  height: 42px;
  display: flex; }
  .g-crumbs a {
    font-size: 16px;
    color: #3f3e3d; }
  .g-crumbs .bd {
    align-self: center;
    display: flex;
    justify-content: space-between; }
    .g-crumbs .bd > div:nth-child(1) a {
      margin-right: 8px; }
      .g-crumbs .bd > div:nth-child(1) a + a {
        margin-left: 8px; }

.layout {
  margin-top: 60px;
  margin-bottom: 60px; }

@media screen and (max-width: 10000px) {
  .layout {
    width: 1800px;
    margin-left: auto;
    margin-right: auto; }
  .footer .bd {
    width: 1440px;
    margin-left: auto;
    margin-right: auto; }
  .g-crumbs .bd {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 1920px) {
  .layout {
    width: auto;
    margin-left: 60px;
    margin-right: 60px; }
  .footer .bd {
    width: auto;
    margin-left: 60px;
    margin-right: 60px; } }

@media screen and (max-width: 1200px) {
  .footer .nav dl + dl {
    padding-left: 60px; } }

@media screen and (max-width: 992px) {
  .footer .nav dl + dl {
    padding-left: 20px; } }

@media screen and (max-width: 768px) {
  .footer .nav dl + dl {
    padding-left: 10px; } }

.article {
  border-top: solid 75px #262c37; }
  .article .m-article {
    margin-top: 60px;
    margin-bottom: 60px; }
    .article .m-article .article-hd {
      text-align: center;
      padding-bottom: 30px;
      border-bottom: solid #f3f3f3 1px; }
      .article .m-article .article-hd h3 {
        font-size: 48px; }
      .article .m-article .article-hd .info {
        margin-top: 30px; }
      .article .m-article .article-hd p {
        font-size: 20px; }
        .article .m-article .article-hd p span {
          color: #d1d1d1; }
    .article .m-article .article-bd .content {
      line-height: 1.6;
      font-size: 16px;
      overflow: hidden; }
      .article .m-article .article-bd .content p {
        margin-top: 30px;
        margin-bottom: 30px; }

@media screen and (max-width: 10000px) {
  .article .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 1200px) {
  .article .container {
    margin-left: 60px;
    margin-right: 60px; } }
